<footer class="app-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <span class="footer-logo"><i class="fa fa-heartbeat"></i> MediConnect</span>
      <p>Your trusted digital healthcare platform</p>
    </div>
    <div class="footer-social">
      <a class="social-btn" style="background:#3b5998"><i class="fa fa-facebook-f"></i></a>
      <a class="social-btn" style="background:#55acee"><i class="fa fa-twitter"></i></a>
      <a class="social-btn" style="background:#dd4b39"><i class="fa fa-google"></i></a>
      <a class="social-btn" style="background:#0082ca"><i class="fa fa-linkedin"></i></a>
      <a class="social-btn" style="background:#333"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-copy">&copy; 2024 MediConnect. All rights reserved.</div>
  </div>
</footer>